# Dependencies
node_modules/

# Environment
.env
.env.local

# Build
dist/

# Uploads (VERY IMPORTANT)
public/uploads/

# Logs
*.log

# Temp / editor files
*.swp
*.swo
*.save
*.tmp

# OS junk
.DS_Store
Thumbs.db

# Firebase Secrets
*.json
!package.json
!package-lock.json
!tsconfig.json
!package-lock.json
